* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

/*  Main Header */
.main-header {
	background-color: brown;
	color: white;
	padding: 30px;
	margin-bottom: 20px;
}

/* Global */
.centered {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Filters */
.filters-list {
	margin: 20px 0 20px 0;
}

.filters-list li {
	display: inline;
	margin-right: 20px;
}

/* Layout */
.layout-list li {
	display: inline;
	font-size: 12px;
	font-weight: bold;
}

/* Tweets Section */
.tweets-section {
	margin-top: 40px;
}

.tweets-section h2 {
	border: 1px solid brown;
	border-right: none;
	border-left: none;
	padding: 12px 0 12px 0;
	margin-bottom: 20px;
}

.tweets-list li {
	overflow: hidden;
	margin-bottom: 20px;
	list-style: none;
}

.tweets-list img {
	float: left;
	margin-right: 15px;
}

.tweet-tag {
	padding: 10px;
}

.tag-ux {
	background-color: #cccccc;
}

.tag-design {
	background-color: pink;
}
























