* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.toolbar {
	background-color: #000;
	padding: 20px 5%;
}
@media (min-height: 540px) {
	.toolbar {
		position: fixed;
		width: 90%;
	}
}

/*  Main Header */
.main-header {
	background-color: brown;
	color: white;
	padding: 30px 5%;
	margin-bottom: 20px;
}
@media (min-height: 540px) and (max-width: 799px) {
	.main-header {
		padding-top: 80px;
	}
}

.filters-section {
	display: none;
}
.filters-section--show {
	display: block;
}
@media (min-width: 800px) {
	.filters-section {
		display: block;
	}
	.toolbar {
		display: none;
	}
}

/* Global */
.centered {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Filters */
.filters-list {
	margin: 20px 0 20px 0;
}

.filters-list li {
	display: inline;
	margin-right: 20px;
}

/* Layout */
.layout-nav {
	display: none;
}
@media (min-width: 1200px) {
	.layout-nav {
		display: block;
	}
}

.layout-list li {
	display: inline;
	font-size: 12px;
	font-weight: bold;
}

/* Tweets Section */
.tweets-section {
	margin-top: 40px;
}

.tweets-section h2 {
	border: 1px solid brown;
	border-right: none;
	border-left: none;
	padding: 12px 0 12px 0;
	margin-bottom: 20px;
}

.tweets-list li {
	overflow: hidden;
	margin-bottom: 20px;
	list-style: none;
}

.tweets-list img {
	float: left;
	margin-right: 15px;
}

.tweet-tag {
	padding: 10px;
}

.tag-ux {
	background-color: #cccccc;
}

.tag-design {
	background-color: pink;
}
























